{% extends "graph_base.html" %}
{% block plot %}
		<div id={{ chartID|safe }} class="chart" style="height: 500px"></div>
		<script>
			var chart_id = {{ chartID|safe }}
			var credits = {"text":"HKinsley","href":"http://harrisonkinsley.com"}
			var series = {{ series|safe }}
			var colors = ['#00A3E0', '#183A54', '#90ed7d', '#f7a35c', '#8085e9', '#f15c80', '#e4d354', '#8085e8', '#8d4653', '#91e8e1', '#7cb5ec', '#434348']
			var title = {{ graphtitle|safe }}
			var xAxis = {{ xAxis|safe }}
			var yAxis = {{ yAxis|safe }}
			var chart = {{ chart|safe }}
			var subtitle = {{ subtitleText|safe }}
		</script>
		<script src="static/graph.js"></script>
			
{% endblock %}
		